.container{
  /* grid-area: main; */
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  /* grid-template-columns: repeat(2, max-content); */
  /* grid-gap: 8rem; */
}

.video{
  height: 100%;
  width: 100%;
}

.card{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: aliceblue;
  height: 16rem;
  width: 16rem;
  padding: 1rem;
  display: grid;
  align-items: center;
  justify-content: center;
}
