.sidebarSection{
  background-color: black;
  grid-area: sidebar;
  height: 100%;
  width: 2.5rem;
  transition: .3s;
  padding: 1rem;
  display: grid;
  justify-content: center;
  align-items: start;
}

.sidebarSectionOpen{
  display: grid;
  justify-content: center;
  align-items: start;
  background-color: black;
  height: 100%;
  width: 14rem;
  grid-area: sidebar;
  transition: .3s;
  padding: 1rem;
}

.container{
  margin: 0 auto;
  display: grid;
  align-items: center;
  justify-content: start;
  column-gap: 2rem;
  grid-template-rows: repeat(2, max-content);
}

.nav{
  display: grid;
  grid-template-columns: max-content;
  grid-template-rows: repeat(2, min-content);
  align-items: center;
  justify-content: start;
  margin: 0;
  margin-top: 4rem;
  padding: 1rem 0;
  color: white;
}

.menu{
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: start;
  align-items: center;
}
.icon{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: min-content;
  padding: 0;
  margin: 0;
}

.menuOpen{
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr;
  padding: 0;
  margin: 0;
  margin-left: 1rem;
}

.menuClosed{
  display: none;
}

.link{
  color: white;
  font-weight: 400;
  font-size: 1rem;
  margin: 0;
  padding: .5rem;
  background-color: transparent;
  outline: none;
  border: none;
  text-decoration: none;
}

.link:hover{
  background-color: rgba(0, 0, 0, 0.24);
  transition: .3s;
}